<a href="https://colab.research.google.com/github/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/blob/main/02_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Librerías principales

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import glob
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore') # Para evitar los molestos avisos.
%matplotlib inline
import missingno as msno

#Cargamos la base de datos construida
La base de datos original esta alojada en la carpeta **/Dataset** en el github, lo que hacemos es clonar el repositorio directamente desde el github y luego se tendrá que descomprimir

In [2]:
!git clone https://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@github.com/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/
os.chdir('/content/Mercado-inmobiliario-ruso-de-Sberbank/Dataset/')
!unzip dataset_train.zip

Cloning into 'Mercado-inmobiliario-ruso-de-Sberbank'...
remote: Enumerating objects: 106, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 106 (delta 6), reused 3 (delta 3), pack-reused 92
Receiving objects: 100% (106/106), 113.50 MiB | 28.88 MiB/s, done.
Resolving deltas: 100% (34/34), done.
Archive:  dataset_train.zip
  inflating: dataset_train.csv

In [3]:
dataset = pd.read_csv('dataset_train.csv')

#1.Cantidad de variables catégoricas
Otro de los requisitos minimos es que el 10% de las variables sean categoricas, por ende analizaremos que variables son categoricas y cuantas variables categoricas nos faltan para componer el minimo solicitado. El minimo solicitado para este caso son 39 columnas catégoricas.

In [13]:
dataset.select_dtypes(include=['object'])

,timestamp,product_type,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology,child_on_acc_pre_school,modern_education_share,old_education_build_share
0,2011-08-20,Investment,Bibirevo,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
1,2011-08-23,Investment,Nagatinskij Zaton,yes,no,no,no,no,no,no,no,no,no,no,no,excellent,#!,NaN,NaN
2,2011-08-27,Investment,Tekstil'shhiki,no,no,no,no,yes,no,no,no,no,no,no,no,poor,NaN,NaN,NaN
3,2011-09-01,Investment,Mitino,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
4,2011-09-05,Investment,Basmannoe,no,no,no,no,yes,yes,no,no,no,no,no,yes,excellent,#!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,2015-06-30,Investment,Otradnoe,no,no,yes,no,yes,no,no,no,no,no,no,no,good,NaN,"95,4918","8,2517"
30467,2015-06-30,Investment,Tverskoe,yes,no,no,no,yes,yes,no,no,yes,no,no,no,poor,NaN,"95,4918","8,2517"
30468,2015-06-30,OwnerOccupier,Poselenie Vnukovskoe,no,no,no,no,no,no,no,no,no,no,no,no,no data,NaN,"95,4918","8,2517"
30469,2015-06-30,Investment,Obruchevskoe,no,no,no,no,yes,no,no,no,no,no,no,no,satisfactory,NaN,"95,4918","8,2517"
30470,2015-06-30,Investment,Novogireevo,no,no,no,no,yes,no,no,no,no,no,no,no,poor,NaN,"95,4918","8,2517"

Analizando los valores obtenidos para columnas catégoricas hasta el momento concluimos que tenemos 15 columnas las cuales serian:
- product_type
- sub_area
- culture_objects_top_25
- thermal_power_plant_raion
- incineration_raion
- oil_chemistry_raion
- radiation_raion
- railroad_terminal_raion
- big_market_raion
- nuclear_reactor_raion
- detention_facility_raion
- water_1line
- big_road1_1line
- railroad_1line
- ecology

Es decir que faltan 24 columnas para ser convertidas a categoricas

In [31]:
columnas_categorizar = list(dataset.columns[200:206]) + list(dataset.columns[272:278]) + list(dataset.columns[354:360]) + list(dataset.columns[311:316]) + ['full_all']

Convertimos 24 variables númericas a categoricas, tomando su media y preguntando, ¿es mayor a la media? Si es afirmativo se indicara como un 1 si por el contrario la respouesta es negativa, se asignará un 0

In [38]:
def categorizar(df,col):
  media = df[col].mean()
  df[col] = (df[col] > media).astype(int)
  return df[col]

for col in columnas_categorizar:
  dataset[col] = categorizar(dataset,col)

#2. Manejo de valores nulos
Ya conociendo que el 5% de datos en este dataset son nulos, ahora manejaremos estos valores nulos