<a href="https://colab.research.google.com/github/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/blob/main/02_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Librerías principales

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import glob
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore') # Para evitar los molestos avisos.
%matplotlib inline
import missingno as msno

#Cargamos la base de datos construida
La base de datos original esta alojada en la carpeta **/Dataset** en el github, lo que hacemos es clonar el repositorio directamente desde el github y luego se tendrá que descomprimir

In [2]:
!git clone https://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@github.com/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/
os.chdir('/content/Mercado-inmobiliario-ruso-de-Sberbank/Dataset/')
!unzip dataset_train.zip

Cloning into 'Mercado-inmobiliario-ruso-de-Sberbank'...
remote: Enumerating objects: 135, done.
remote: Counting objects: 100% (43/43), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 135 (delta 21), reused 3 (delta 3), pack-reused 92
Receiving objects: 100% (135/135), 135.18 MiB | 27.44 MiB/s, done.
Resolving deltas: 100% (49/49), done.
Archive:  dataset_train.zip
  inflating: dataset_train.csv

In [3]:
dataset = pd.read_csv('dataset_train.csv')

#1.Cantidad de variables catégoricas
Otro de los requisitos minimos es que el 10% de las variables sean categoricas, por ende analizaremos que variables son categoricas y cuantas variables categoricas nos faltan para componer el minimo solicitado. El minimo solicitado para este caso son 39 columnas catégoricas.

In [4]:
dataset.select_dtypes(include=['object'])

,timestamp,product_type,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology,child_on_acc_pre_school,modern_education_share,old_education_build_share
0,2011-08-20,Investment,Bibirevo,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
1,2011-08-23,Investment,Nagatinskij Zaton,yes,no,no,no,no,no,no,no,no,no,no,no,excellent,#!,NaN,NaN
2,2011-08-27,Investment,Tekstil'shhiki,no,no,no,no,yes,no,no,no,no,no,no,no,poor,#!,NaN,NaN
3,2011-09-01,Investment,Mitino,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
4,2011-09-05,Investment,Basmannoe,no,no,no,no,yes,yes,no,no,no,no,no,yes,excellent,#!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,2015-06-30,Investment,Otradnoe,no,no,yes,no,yes,no,no,no,no,no,no,no,good,NaN,"95,4918","8,2517"
30467,2015-06-30,Investment,Tverskoe,yes,no,no,no,yes,yes,no,no,yes,no,no,no,poor,NaN,"95,4918","8,2517"
30468,2015-06-30,OwnerOccupier,Poselenie Vnukovskoe,no,no,no,no,no,no,no,no,no,no,no,no,no data,NaN,"95,4918","8,2517"
30469,2015-06-30,Investment,Obruchevskoe,no,no,no,no,yes,no,no,no,no,no,no,no,satisfactory,NaN,"95,4918","8,2517"
30470,2015-06-30,Investment,Novogireevo,no,no,no,no,yes,no,no,no,no,no,no,no,poor,NaN,"95,4918","8,2517"

Analizando los valores obtenidos para columnas catégoricas hasta el momento concluimos que tenemos 15 columnas las cuales serian:
- product_type
- sub_area
- culture_objects_top_25
- thermal_power_plant_raion
- incineration_raion
- oil_chemistry_raion
- radiation_raion
- railroad_terminal_raion
- big_market_raion
- nuclear_reactor_raion
- detention_facility_raion
- water_1line
- big_road1_1line
- railroad_1line
- ecology

Es decir que faltan 24 columnas para ser convertidas a categoricas

In [5]:
columnas_categorizar = list(dataset.columns[200:206]) + list(dataset.columns[272:278]) + list(dataset.columns[354:360]) + list(dataset.columns[311:316]) + ['full_all']

Convertimos 24 variables númericas a categoricas, tomando su media y preguntando, ¿es mayor a la media? Si es afirmativo se indicara como un 1 si por el contrario la respuesta es negativa, se asignará un 0

In [6]:
def categorizar(df,col):
  media = df[col].mean()
  df[col] = (df[col] > media).astype(int)
  return df[col]

for col in columnas_categorizar:
  dataset[col] = categorizar(dataset,col)

In [7]:
dataset[columnas_categorizar]

,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,...,old_house_share,average_life_exp,infant_mortarity_per_1000_cap,perinatal_mort_per_1000_cap,micex_cbi_tr,deposits_value,deposits_growth,deposits_rate,mortgage_value,full_all
0,0,0,0,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,0,0,1,1,1,1,1,1,0,0,...,0,1,0,0,1,1,1,1,0,0
30467,0,1,1,1,1,1,1,1,1,1,...,0,1,0,0,1,1,1,1,0,0
30468,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,0,0
30469,0,0,0,0,0,1,1,1,1,0,...,0,1,0,0,1,1,1,1,0,0
30470,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,0,0

#2. Manejo de valores nulos
Ya conociendo que el 5% de datos en este dataset son nulos, ahora manejaremos estos valores nulos

In [8]:
missing_data = dataset.isnull().sum()
percentage_missing = (missing_data / len(dataset)) * 100

# Crear un nuevo DataFrame con los resultados
result_df = pd.DataFrame({'Variable': missing_data.index, 'Cantidad de Datos Perdidos': missing_data.values, 'Porcentaje': percentage_missing.values})

porcentajes = result_df[result_df['Cantidad de Datos Perdidos']>0].sort_values(by='Cantidad de Datos Perdidos', ascending=False)

In [9]:
porcentajes

,Variable,Cantidad de Datos Perdidos,Porcentaje
381,provision_retail_space_modern_sqm,30471,100.000000
380,provision_retail_space_sqm,25809,84.700207
385,museum_visitis_per_100_cap,17831,58.517935
388,students_reg_sports_share,17831,58.517935
368,load_of_teachers_preschool_per_teacher,17831,58.517935
...,...,...,...
99,ID_railroad_station_walk,955,3.134128
98,railroad_station_walk_min,955,3.134128
97,railroad_station_walk_km,955,3.134128
88,metro_km_walk,955,3.134128
87,metro_min_walk,955,3.134128

Solo trataremos aquellas variables que tengan menos de 58% valores nulos

In [10]:
porcentajes[(porcentajes['Porcentaje']<58)]

                       Variable  Cantidad de Datos Perdidos  Porcentaje
24          hospital_beds_raion                       15371   50.444685
7                    build_year                       14535   47.701093
10                        state                       14489   47.550130
162          cafe_avg_price_500                       14211   46.637787
161  cafe_sum_500_max_price_avg                       14211   46.637787
..                          ...                         ...         ...
99     ID_railroad_station_walk                         955    3.134128
98    railroad_station_walk_min                         955    3.134128
97     railroad_station_walk_km                         955    3.134128
88                metro_km_walk                         955    3.134128
87               metro_min_walk                         955    3.134128

[79 rows x 3 columns]

##2.1 Relleno de valores nulos de variables categóricas ordinales
Tomamos aquellas variables númericas que tengan menos de 20 categorias únicas y las rellenamos con la mediana, se utiliza la mediana ya que en caso de que exista algún valor atipico no se sesgará la medida de tomada como si lo haría la media.

In [11]:
selected_columns = []
for column in dataset.columns:
    if len(dataset[column].unique()) < 20:
        selected_columns.append(column)
df_selected = dataset[selected_columns]

In [12]:
columnas_numericas = df_selected.select_dtypes(include=[int, float]).columns
df_selected[columnas_numericas] = df_selected[columnas_numericas].fillna(df_selected[columnas_numericas].median())

In [13]:
dataset[columnas_numericas] = df_selected[columnas_numericas].fillna(df_selected[columnas_numericas].median())

##2.2 Relleno de variables categóricas no ordinales
Para este relleno de variables catégoricas no ordinales usaremos la moda, el dato que más se repita lo usaremos para rellenar los valores nulos

In [14]:
missing_data = dataset.isnull().sum()
percentage_missing = (missing_data / len(dataset)) * 100

# Crear un nuevo DataFrame con los resultados
result_df = pd.DataFrame({'Variable': missing_data.index, 'Cantidad de Datos Perdidos': missing_data.values, 'Porcentaje': percentage_missing.values})

result_df[result_df['Cantidad de Datos Perdidos']>0].sort_values(by='Cantidad de Datos Perdidos', ascending=False)

,Variable,Cantidad de Datos Perdidos,Porcentaje
381,provision_retail_space_modern_sqm,30471,100.000000
24,hospital_beds_raion,15371,50.444685
7,build_year,14535,47.701093
160,cafe_sum_500_min_price_avg,14211,46.637787
162,cafe_avg_price_500,14211,46.637787
161,cafe_sum_500_max_price_avg,14211,46.637787
5,max_floor,10502,34.465557
9,kitch_sq,10502,34.465557
18,preschool_quota,7618,25.000820
21,school_quota,7615,24.990975
185,cafe_avg_price_1000,7454,24.462604
184,cafe_sum_1000_max_price_avg,7454,24.462604
183,cafe_sum_1000_min_price_avg,7454,24.462604
3,life_sq,7313,23.999869
373,old_education_build_share,6522,21.403958
372,modern_education_share,6522,21.403958
74,build_count_panel,5921,19.431591
73,build_count_monolith,5921,19.431591
68,raion_build_count_with_material_info,5921,19.431591
69,build_count_block,5921,19.431591
76,build_count_slag,5921,19.431591
71,build_count_frame,5921,19.431591
72,build_count_brick,5921,19.431591
70,build_count_wood,5921,19.431591
80,build_count_1921-1945,5921,19.431591
78,raion_build_count_with_builddate_info,5921,19.431591
79,build_count_before_1920,5921,19.431591
83,build_count_after_1995,5921,19.431591
82,build_count_1971-1995,5921,19.431591
81,build_count_1946-1970,5921,19.431591
208,cafe_avg_price_1500,5129,16.832398
207,cafe_sum_1500_max_price_avg,5129,16.832398
206,cafe_sum_1500_min_price_avg,5129,16.832398
369,child_on_acc_pre_school,4169,13.681861
229,cafe_sum_2000_min_price_avg,2655,8.713203
230,cafe_sum_2000_max_price_avg,2655,8.713203
231,cafe_avg_price_2000,2655,8.713203
252,cafe_sum_3000_min_price_avg,1921,6.304355
253,cafe_sum_3000_max_price_avg,1921,6.304355
254,cafe_avg_price_3000,1921,6.304355
269,prom_part_5000,1108,3.636244
4,floor,1097,3.600144
97,railroad_station_walk_km,955,3.134128
98,railroad_station_walk_min,955,3.134128
87,metro_min_walk,955,3.134128
99,ID_railroad_station_walk,955,3.134128
88,metro_km_walk,955,3.134128

In [15]:
columnas_categoricas = dataset.select_dtypes(include=[object]).columns

In [16]:
columnas_categoricas

Index(['timestamp', 'product_type', 'sub_area', 'culture_objects_top_25',
       'thermal_power_plant_raion', 'incineration_raion',
       'oil_chemistry_raion', 'radiation_raion', 'railroad_terminal_raion',
       'big_market_raion', 'nuclear_reactor_raion', 'detention_facility_raion',
       'water_1line', 'big_road1_1line', 'railroad_1line', 'ecology',
       'child_on_acc_pre_school', 'modern_education_share',
       'old_education_build_share'],
      dtype='object')

In [17]:
dataset[~dataset['child_on_acc_pre_school'].isnull()]['child_on_acc_pre_school']

0            #!
1            #!
2            #!
3            #!
4            #!
          ...
27227    16,765
27228    16,765
27229    16,765
27230    16,765
27231    16,765
Name: child_on_acc_pre_school, Length: 26302, dtype: object

In [18]:
dataset[~dataset['child_on_acc_pre_school'].isnull()]['child_on_acc_pre_school'].unique()

array(['#!', '7,311', '3,013', '16,765'], dtype=object)

###2.2.1 Relleno de variable 'child_on_acc_pre_school'

Vemos que la columna anterior se detecta como object ya que en lugar de "." se encuentra "," adicional a esto cuenta con carácteres incorrectos como "#!" por ende haremos lo siguiente:
1. Remplazaremos los valores "#!" por NaN
2. Remplazaremos "," por "."
3. Rellenamos los valores nulos con el método 'backward fill'
4. Aplicamos 'forward fill' en caso de que queden valores nulos

In [19]:
dataset['child_on_acc_pre_school'] = dataset['child_on_acc_pre_school'].replace('#!',np.nan)
dataset['child_on_acc_pre_school'].fillna(method='bfill', inplace=True)
dataset['child_on_acc_pre_school'] = dataset['child_on_acc_pre_school'].str.replace(',', '.', regex=True).astype(float)
dataset['child_on_acc_pre_school'].fillna(method='ffill', inplace=True)

In [20]:
dataset['child_on_acc_pre_school']

0         7.311
1         7.311
2         7.311
3         7.311
4         7.311
          ...
30466    16.765
30467    16.765
30468    16.765
30469    16.765
30470    16.765
Name: child_on_acc_pre_school, Length: 30471, dtype: float64

###2.2.2 Relleno de variable 'modern_education_share'
Con la variable 'modern_education_share' ocurre el mismo caso que con la variable que cambiamos anteriormente, solo que en este caso no contamos con caracteres no invalidos, solo contamos con simbolos de puntuación indebidas y valores nulos, por ende haremos lo siguiente:

1. Remplazaremos "," por "."
2. Rellenamos los valores nulos con el método 'backward fill'
3. Aplicamos 'forward fill' en caso de que queden valores nulos

In [22]:
dataset['modern_education_share'].unique()

array([nan, '90,92', '93,08', '95,4918'], dtype=object)

In [23]:
dataset['modern_education_share'].fillna(method='bfill', inplace=True)
dataset['modern_education_share'] = dataset['modern_education_share'].str.replace(',', '.', regex=True).astype(float)
dataset['modern_education_share'].fillna(method='ffill',inplace=True)

###2.2.3 Relleno de la variable 'old_education_build_share'
ocurre el mismo caso que con la variable que cambiamos anteriormente, solo que en este caso no contamos con caracteres no invalidos, solo contamos con simbolos de puntuación indebidas y valores nulos, por ende haremos lo siguiente:

1. Remplazaremos "," por "."
2. Rellenamos los valores nulos con el método 'backward fill'
3. Aplicamos 'forward fill' en caso de que queden valores nulos

In [38]:
dataset['old_education_build_share'].unique()

array([nan, '23,14', '25,47', '8,2517'], dtype=object)

In [39]:
dataset['old_education_build_share'].fillna(method='bfill', inplace=True)
dataset['old_education_build_share'] = dataset['old_education_build_share'].str.replace(',', '.', regex=True).astype(float)
dataset['old_education_build_share'].fillna(method='ffill',inplace=True)

In [42]:
valores_nulos = dataset.isnull().sum()

# Imprimir las columnas con valores nulos
print(valores_nulos[valores_nulos > 0])

life_sq                                   7313
floor                                     1097
max_floor                                10502
build_year                               14535
kitch_sq                                 10502
preschool_quota                           7618
school_quota                              7615
hospital_beds_raion                      15371
raion_build_count_with_material_info      5921
build_count_block                         5921
build_count_wood                          5921
build_count_frame                         5921
build_count_brick                         5921
build_count_monolith                      5921
build_count_panel                         5921
build_count_slag                          5921
raion_build_count_with_builddate_info     5921
build_count_before_1920                   5921
build_count_1921-1945                     5921
build_count_1946-1970                     5921
build_count_1971-1995                     5921
build_count_after_1995                    5921
metro_min_walk                             955
metro_km_walk                              955
railroad_station_walk_km                   955
railroad_station_walk_min                  955
ID_railroad_station_walk                   955
cafe_sum_500_min_price_avg               14211
cafe_sum_500_max_price_avg               14211
cafe_avg_price_500                       14211
cafe_sum_1000_min_price_avg               7454
cafe_sum_1000_max_price_avg               7454
cafe_avg_price_1000                       7454
cafe_sum_1500_min_price_avg               5129
cafe_sum_1500_max_price_avg               5129
cafe_avg_price_1500                       5129
cafe_sum_2000_min_price_avg               2655
cafe_sum_2000_max_price_avg               2655
cafe_avg_price_2000                       2655
cafe_sum_3000_min_price_avg               1921
cafe_sum_3000_max_price_avg               1921
cafe_avg_price_3000                       1921
prom_part_5000                            1108
provision_retail_space_modern_sqm        30471
dtype: int64

##2 Relleno de variables continuas

In [ ]:
def fillna(df):
  df = df.copy()
  mask = df['price'].isnull()
  num_missing = mask.sum()

  if num_missing > 0:
      random_values = np.random.normal(df['price'].mean(), df['price'].std(), num_missing)
      df.loc[mask, 'price'] = random_values

  return df