<a href="https://colab.research.google.com/github/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/blob/main/02_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Librerías principales

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import glob
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore') # Para evitar los molestos avisos.
%matplotlib inline
import missingno as msno

#Cargamos la base de datos construida
La base de datos original esta alojada en la carpeta **/Dataset** en el github, lo que hacemos es clonar el repositorio directamente desde el github y luego se tendrá que descomprimir

In [2]:
!git clone https://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@github.com/jadercaro/Mercado-inmobiliario-ruso-de-Sberbank/
os.chdir('/content/Mercado-inmobiliario-ruso-de-Sberbank/Dataset/')
!unzip dataset_train.zip

Cloning into 'Mercado-inmobiliario-ruso-de-Sberbank'...
remote: Enumerating objects: 109, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 109 (delta 7), reused 3 (delta 3), pack-reused 92
Receiving objects: 100% (109/109), 113.50 MiB | 18.89 MiB/s, done.
Resolving deltas: 100% (35/35), done.
Archive:  dataset_train.zip
  inflating: dataset_train.csv

In [3]:
dataset = pd.read_csv('dataset_train.csv')

#1.Cantidad de variables catégoricas
Otro de los requisitos minimos es que el 10% de las variables sean categoricas, por ende analizaremos que variables son categoricas y cuantas variables categoricas nos faltan para componer el minimo solicitado. El minimo solicitado para este caso son 39 columnas catégoricas.

In [4]:
dataset.select_dtypes(include=['object'])

,timestamp,product_type,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology,child_on_acc_pre_school,modern_education_share,old_education_build_share
0,2011-08-20,Investment,Bibirevo,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
1,2011-08-23,Investment,Nagatinskij Zaton,yes,no,no,no,no,no,no,no,no,no,no,no,excellent,#!,NaN,NaN
2,2011-08-27,Investment,Tekstil'shhiki,no,no,no,no,yes,no,no,no,no,no,no,no,poor,NaN,NaN,NaN
3,2011-09-01,Investment,Mitino,no,no,no,no,no,no,no,no,no,no,no,no,good,#!,NaN,NaN
4,2011-09-05,Investment,Basmannoe,no,no,no,no,yes,yes,no,no,no,no,no,yes,excellent,#!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,2015-06-30,Investment,Otradnoe,no,no,yes,no,yes,no,no,no,no,no,no,no,good,NaN,"95,4918","8,2517"
30467,2015-06-30,Investment,Tverskoe,yes,no,no,no,yes,yes,no,no,yes,no,no,no,poor,NaN,"95,4918","8,2517"
30468,2015-06-30,OwnerOccupier,Poselenie Vnukovskoe,no,no,no,no,no,no,no,no,no,no,no,no,no data,NaN,"95,4918","8,2517"
30469,2015-06-30,Investment,Obruchevskoe,no,no,no,no,yes,no,no,no,no,no,no,no,satisfactory,NaN,"95,4918","8,2517"
30470,2015-06-30,Investment,Novogireevo,no,no,no,no,yes,no,no,no,no,no,no,no,poor,NaN,"95,4918","8,2517"

Analizando los valores obtenidos para columnas catégoricas hasta el momento concluimos que tenemos 15 columnas las cuales serian:
- product_type
- sub_area
- culture_objects_top_25
- thermal_power_plant_raion
- incineration_raion
- oil_chemistry_raion
- radiation_raion
- railroad_terminal_raion
- big_market_raion
- nuclear_reactor_raion
- detention_facility_raion
- water_1line
- big_road1_1line
- railroad_1line
- ecology

Es decir que faltan 24 columnas para ser convertidas a categoricas

In [5]:
columnas_categorizar = list(dataset.columns[200:206]) + list(dataset.columns[272:278]) + list(dataset.columns[354:360]) + list(dataset.columns[311:316]) + ['full_all']

Convertimos 24 variables númericas a categoricas, tomando su media y preguntando, ¿es mayor a la media? Si es afirmativo se indicara como un 1 si por el contrario la respuesta es negativa, se asignará un 0

In [6]:
def categorizar(df,col):
  media = df[col].mean()
  df[col] = (df[col] > media).astype(int)
  return df[col]

for col in columnas_categorizar:
  dataset[col] = categorizar(dataset,col)

In [36]:
dataset.iloc[:,100:200]

,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,...,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500
0,5.419893,6.905893,1.0,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,...,1.0,0.0,0.0,1.0,2.0,0.0,0.0,6.0,1.0,14.27
1,3.641773,4.679745,2.0,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,...,0.0,1.0,0.0,1.0,2.0,0.0,4.0,2.0,0.0,21.53
2,1.277658,1.701420,3.0,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,9.92
3,3.816045,5.271136,4.0,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,28.38
4,1.595898,2.156284,113.0,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,...,19.0,2.0,1.0,7.0,12.0,0.0,6.0,7.0,0.0,4.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,3.217988,5.300256,1.0,0.093258,1.119101,0.979218,no,3.762408,8.361875,10.543724,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,8.81
30467,1.726532,2.242220,83.0,0.090712,1.088544,1.063533,no,13.100989,1.238732,1.203215,...,20.0,1.0,1.0,2.0,8.0,0.0,1.0,8.0,0.0,2.55
30468,3.735666,4.782323,24.0,0.630014,7.560163,0.394422,no,7.123215,17.148737,19.868997,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.85
30469,8.059414,9.128624,105.0,0.261528,3.138330,0.738539,no,2.327138,8.940313,11.752036,...,1.0,0.0,0.0,0.0,5.0,0.0,0.0,10.0,0.0,32.98
30470,2.037754,3.604917,31.0,0.250151,3.001814,0.518509,no,1.920884,6.809408,9.675169,...,1.0,0.0,0.0,2.0,1.0,0.0,4.0,3.0,0.0,19.95

#2. Manejo de valores nulos
Ya conociendo que el 5% de datos en este dataset son nulos, ahora manejaremos estos valores nulos

In [91]:
missing_data = dataset.isnull().sum()
percentage_missing = (missing_data / len(dataset)) * 100

# Crear un nuevo DataFrame con los resultados
result_df = pd.DataFrame({'Variable': missing_data.index, 'Cantidad de Datos Perdidos': missing_data.values, 'Porcentaje': percentage_missing.values})

result_df[result_df['Cantidad de Datos Perdidos']>0].sort_values(by='Cantidad de Datos Perdidos', ascending=False)

,Variable,Cantidad de Datos Perdidos,Porcentaje
381,provision_retail_space_modern_sqm,30471,100.000000
380,provision_retail_space_sqm,25809,84.700207
385,museum_visitis_per_100_cap,17831,58.517935
388,students_reg_sports_share,17831,58.517935
368,load_of_teachers_preschool_per_teacher,17831,58.517935
...,...,...,...
99,ID_railroad_station_walk,955,3.134128
98,railroad_station_walk_min,955,3.134128
97,railroad_station_walk_km,955,3.134128
88,metro_km_walk,955,3.134128
87,metro_min_walk,955,3.134128

In [92]:
(dataset['metro_min_walk']).corr((dataset['price_doc']))

-0.18804369346650654

In [93]:
np.log1p(dataset['metro_min_walk']).corr(dataset['price_doc'])

-0.2440645357466464

In [112]:
dataset['metro_min_walk'] = np.log1p(dataset['metro_min_walk'])
correlaa = dataset.corr()['metro_min_walk'].sort_values()

In [113]:
correlaa

trc_count_3000                      -0.539066
market_count_5000                   -0.525416
sport_count_3000                    -0.523688
sport_count_5000                    -0.514366
sport_count_2000                    -0.514080
                                       ...
metro_km_avto                        0.775642
metro_km_walk                        0.781231
metro_min_avto                       0.800536
metro_min_walk                       1.000000
provision_retail_space_modern_sqm         NaN
Name: metro_min_walk, Length: 372, dtype: float64

In [110]:
correlaa

sport_count_5000                    -0.413131
market_count_5000                   -0.405877
sport_count_3000                    -0.400734
trc_count_5000                      -0.399513
trc_count_3000                      -0.396016
                                       ...
metro_min_avto                       0.937593
metro_km_avto                        0.985392
metro_km_walk                        1.000000
metro_min_walk                       1.000000
provision_retail_space_modern_sqm         NaN
Name: metro_min_walk, Length: 372, dtype: float64

In [ ]:
def fillna(df):
  df = df.copy()
  mask = df['price'].isnull()
  num_missing = mask.sum()

  if num_missing > 0:
      random_values = np.random.normal(df['price'].mean(), df['price'].std(), num_missing)
      df.loc[mask, 'price'] = random_values

  return df